@page "/"
@using Microsoft.AspNetCore.Identity
@using TodoList.Code
@using TodoList.Components.Account
@using TodoList.Data
@using TodoList.Model
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "AuthUser")]

@inject RoleHandler _handler
@inject IServiceProvider _ServiceProvider
@inject IHttpContextAccessor HttpContextAccessor

@inject UserWithRole context

@inject CPRServices cprService

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (!exist)
        {
            <h1>Hello, world!</h1>

            <p>Welcome to your new app.</p>
            <p>@context.User.Identity.Name</p>
            <input @bind="CprNummer" type="text" placeholder="Enter CPR Number" />
            <button @onclick="create">Submit</button>
            @if (!string.IsNullOrEmpty(FeedbackMessage))
            {
                <p>@FeedbackMessage</p>
            }
        }
        else{
            <CreateToDo></CreateToDo>
        }
                

    </Authorized>
    <NotAuthorized>
        <h1>Not Authorized</h1>
        <p>login To View Component</p>
    </NotAuthorized>
</AuthorizeView>

@code{
    public Cpr item = new Cpr();
    public string CprNummer = "";
    public string FeedbackMessage = "";
    public bool exist;


    protected override async Task OnInitializedAsync()
    {
        var result = cprService.CheckEmailAsync(HttpContextAccessor.HttpContext.User.Identity.Name ?? "Not Found");
    }


    public async Task<bool> create()
    {
        var id = HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault()?.Value ?? "0";
        var Email = HttpContextAccessor.HttpContext.User.Identity.Name ?? "Not Found";
        var item = new Cpr()
        {
            Id = id,
            User = Email,
            Cpr1 = CprNummer
        };

        var result = await cprService.CreateUserCPR(item);
        if (result)
        {
            FeedbackMessage = "CPR record created successfully.";
            CprNummer = "";
            return exist = true;
        }
        else
        {
            var checkUserExist = await cprService.CheckAccountAsync(Email, CprNummer);
            if (checkUserExist)
            {
                FeedbackMessage = "Welcome back";
                return exist = true;
            }

            FeedbackMessage = "Wrong CPR Number";
            return exist = false;
        }
    }
}